<div class="row product-details" *ngIf="productData">
<div class="col-sm-6">
<img  class="product-img" src="{{productData.image}}" alt="">
</div>
<div class="col-sm-6">
    <div class="details">
        <h1>{{productData.name}}</h1>
        <h3>Price : {{productData.price}}</h3>
        <div style="color: rgb(81, 65, 46);">Color :<h3 [style.backgroundColor]="productData.color" class="product-color"></h3></div>
        <h6>Category : {{productData.category}}</h6>
        <h6>Description : {{productData.description}}</h6>
       
        <button *ngIf="removeCart" class="custom-btn btn-5" (click)=" removeToCart(productData.id)" style="font-size: 13px;">Remove From Cart</button>
        <button *ngIf="!removeCart" class="custom-btn btn-5"  (click)="addToCart()">Add to Cart</button>
        <div class="quantity-group">
            <button (click)="handleQuantity('min')" >-</button>
            <input type="text" value="{{productQuantity}}" />
            <button (click)="handleQuantity('plus')">+</button>

        </div>
    </div>
</div>
</div>